@media only screen and (min-width: 1200px) {
  /*overskrifter og tekst desktop*/

  h1 {
    font-family: "Koulen", sans-serif;
  }

  h2 {
    text-align: center;
    font-family: "Koulen", sans-serif;
  }

  h3 {
    font-family: "Koulen", sans-serif;
    animation: textShadow_kf 1.3s ease-in-out infinite alternate;
  }

  h4 {
    font-family: "Koulen", sans-serif;
    font-size: xx-large;
  }

  h5 {
    font-family: "Koulen", sans-serif;
    font-size: xxx-large;
    text-align: center;
  }

  h6 {
    font-family: "Koulen", sans-serif;
    font-size: larger;
    margin-left: 250px;
    margin-top: 60px;
  }

  p,
  li {
    font-family: "PT Serif", serif;
  }

  /*forside desktop*/

  .gul_boks {
    background-color: #fff38c;
    margin: 17px;
    height: 660px;
    width: 1200px;
  }

  .isabel_billede {
    height: 400px;
    margin-top: 257px;
  }

  .isabel_forsidetekst {
    position: absolute;
    left: 632px;
    top: 500px;
    font-size: xxx-large;
  }

  .mobil_logo {
    display: none;
  }

  /****Menu****/
  body,
  ul {
    margin: 0;
    padding: 0;
  }

  /* Styler nav menu */
  nav {
    display: flex;
    justify-content: flex-end; /* Placerer menuen til højre */
    align-items: center;
    margin-top: 20px;
  }

  /* Styler navigation menu links, ingen understreger */
  .menu {
    list-style: none;
    display: flex;
    gap: 200px;
    margin-right: 310px;
  }

  .menu li {
    margin-left: 20px;
    font-family: "Koulen", sans-serif;
  }

  .menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  /* Styling for mobil */
  .burger {
    flex-direction: column;
    cursor: pointer;
  }

  /****Om mig side****/

  .ommig_boks {
    background-color: #fff38c;
    margin: 80px;
    padding: 30px;
    height: 600px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  #om_mig_billede {
    margin-left: 300px;
    transform: scale(0.13);
    height: 1%;
  }

  #cv_tekst {
    font-size: xx-large;
    margin-left: 350px;
  }

  .cv_boks {
    background-color: #fff38c;
    margin: 108px;
    padding: 20px;
  }

  .cv_info {
    margin-left: 70px;
  }

  /****Tema-sider****/
  .gulboks_tema {
    background-color: #fff38c;
  }

  .temabeskrivelse_boks1 {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 420px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 600px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks2 {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 400px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks3 {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 700px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks4 {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 370px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks5 {
    background-color: #f2f0f0;
    margin: 80px;
    padding: 30px;
    height: 430px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .resultatlink a {
    margin-left: 565px;
    text-decoration: none;
    list-style: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 6px;
    background-color: #fff38c;
    color: #000000;
    font-family: "Koulen", sans-serif;
  }

  .resultatlink2 a {
    position: absolute;
    left: 590px;
    top: 1400px;
    text-decoration: none;
    list-style: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 6px;
    background-color: #fff38c;
    color: #000000;
    font-family: "Koulen", sans-serif;
  }

  /***Keyframes***/

  @keyframes textShadow_kf {
    from {
      text-shadow: 2px 2px #333;
    }

    to {
      text-shadow: 10px 10px #333;
    }
  }
}

/*** Media query for mobil-responsiveness ***/

@media only screen and (max-width: 768px) {
  /*Burgermenu*/

  .menu {
    display: none;
    gap: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .menu li {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Jost", sans-serif;
  }

  nav:hover .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 7px -4px 2px rgba(11, 11, 11, 0.56);
  }

  nav:hover .menu a {
    text-align: center;
    padding: 10px;
    display: block;
    width: 100%;
    color: white;
  }
  nav:hover .menu a:hover {
    color: #fff38c;
  }

  /***gul boks forside***/

  .gul_boks {
    background-color: #fff38c;
    width: 100%;
    margin-top: 130px;
  }

  .isabel_billede {
    height: 400px;
    margin-top: 150px;
    width: 100%;
  }

  .isabel_forsidetekst {
    display: none;
  }

  #logo {
    display: none;
  }

  /****Om mig side - mobil****/

  .ommig_boks {
    background-color: #fff38c;
    padding: 10px;
    height: 911px;
    line-height: 30px;
    font-family: "PT Serif", serif;
  }

  #om_mig_billede {
    margin-right: 300px;
    transform: scale(0.1);
    height: 10%;
  }

  #cv_tekst {
    margin-top: 260px;
    font-size: xx-large;
  }

  .cv_boks {
    background-color: #fff38c;
    margin: 10px;
    padding: 20px;
    line-height: 35px;
  }

  /****Tema-sider****/
  .gulboks_tema {
    background-color: #fff38c;
  }
  .temabeskrivelse_boks {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    line-height: 27px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks1 {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;

    font-size: medium;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks2 {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks3 {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks4 {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks5 {
    background-color: #f2f0f0;
    margin: 20px;
    padding: 20px;
    font-size: large;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .resultatlink a {
    text-decoration: none;
    margin-left: 160px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 3px;
    background-color: #fff38c;
    color: #000000;
    font-family: "Koulen", sans-serif;
  }

  .resultatlink2 a {
    margin-left: 160px;
    text-decoration: none;
    list-style: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 3px;
    background-color: #fff38c;
    color: #000000;
    font-family: "Koulen", sans-serif;
  }

  /*overskrifter og tekst mobil*/

  h1 {
    font-family: "Koulen", sans-serif;
    text-align: center;
    font-size: medium;
  }

  h2 {
    font-family: "Koulen", sans-serif;
    text-align: center;
  }

  h3 {
    font-family: "Koulen", sans-serif;
    font-size: xx-large;
  }

  h4 {
    font-family: "Koulen", sans-serif;
    font-size: large;
  }

  h5 {
    font-family: "Koulen", sans-serif;
    font-size: xx-large;
    text-align: center;
  }

  p,
  li {
    font-family: "PT Serif", serif;
    font-size: small;
    line-height: 27px;
  }

  li {
    font-weight: bold;
  }
}
