/***Mobilsite***/

/***Forside***/

.gul_boks {
  background-color: #fff38c;
  width: 100%;
}

.isabel_billede {
  height: 400px;
  margin-top: 150px;
  width: 100%;
}

.isabel_forsidetekst {
  display: none;
}

#logo {
  display: none;
}

/****Tema-sider****/
.gulboks_tema {
  background-color: #fff38c;
  width: 50%;
  margin-left: 80px;
}

.temabeskrivelse_boks {
  background-color: #f2f0f0;
  font-size: medium;
  line-height: 27px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks1 {
  background-color: #f2f0f0;
  margin: 10px;
  padding: 10px;
  font-size: medium;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks2 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: medium;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks3 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: medium;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks4 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: medium;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks5 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: large;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks6 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: large;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks7 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: large;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

.temabeskrivelse_boks8 {
  background-color: #f2f0f0;
  margin: 20px;
  padding: 20px;
  font-size: large;
  line-height: 35px;
  font-family: "PT Serif", serif;
}

/****Om mig side - mobil****/

.ommig_boks {
  background-color: #fff38c;
  padding: 40px;
  height: 910px;
  line-height: 30px;
  font-family: "PT Serif", serif;
}

.om_mig_billede img {
  margin-top: 50px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#cv_tekst {
  font-size: xx-large;
}

.cv_boks {
  background-color: #fff38c;
  margin: 10px;
  padding: 40px;
  margin-top: 470px;
  line-height: 35px;
}

/*Overskrifter og tekst mobil*/

h1 {
  font-family: "Koulen", sans-serif;
  text-align: center;
  font-size: medium;
}

h2 {
  font-family: "Koulen", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Koulen", sans-serif;
}

h4 {
  font-family: "Koulen", sans-serif;
  font-size: large;
}

h5 {
  font-family: "Koulen", sans-serif;
  font-size: xx-large;
  text-align: center;
}

p,
li {
  font-family: "PT Serif", serif;
  font-size: 12px;
  line-height: 27px;
}

li {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

li a {
  color: black;
}

/***Desktop***/

@media only screen and (min-width: 800px) {
  /*****Forside*****/
  .gul_boks {
    background-color: #fff38c;
  }

  .isabel_billede {
    height: auto;
    width: 40%;
  }

  .isabel_forsidetekst {
    display: inherit;
  }

  /***Tema-sider***/

  .gulboks_tema {
    background-color: #fff38c;
    width: 30%;
    margin-left: 415px;
  }
  .temabeskrivelse_boks {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: medium;
    line-height: 27px;
  }

  .temabeskrivelse_boks1 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
  }

  .temabeskrivelse_boks2 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
  }

  .temabeskrivelse_boks3 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
  }

  .temabeskrivelse_boks4 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: medium;
    line-height: 35px;
    font-family: "PT Serif", serif;
  }

  .temabeskrivelse_boks5 {
    margin: 60px;
    padding: 20px;
  }

  .temabeskrivelse_boks6 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: large;
    line-height: 35px;
  }

  .temabeskrivelse_boks7 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: large;
    line-height: 35px;
  }

  .temabeskrivelse_boks8 {
    background-color: #f2f0f0;
    margin: 60px;
    padding: 20px;
    font-size: large;
    line-height: 35px;
  }

  /****Om mig side***/

  .ommig_boks {
    background-color: #f2f0f0;
    padding: 80px;
    margin: 10px;
    line-height: 30px;
    font-family: "PT Serif", serif;
  }

  .om_mig_billede img {
    width: 30%;
    margin-left: 700px;
    object-fit: cover;
  }

  #cv_tekst {
    display: inherit;
    position: absolute;
    top: 1000px;
    left: 390px;
  }

  .cv_boks {
    background-color: #fff38c;
    margin: 10px;
    padding: 80px;
    line-height: 35px;
  }

  p {
    font-size: 16px;
    line-height: 40px;
  }

  li {
    font-size: 16px;
    line-height: 40px;
  }

  h3 {
    display: inherit;
    font-family: "Koulen", sans-serif;
    font-size: 25px;
    margin-left: 100px;
  }

  h4 {
    display: inherit;
    font-size: 30px;
  }

  h5 {
    font-size: 60px;
  }

  h6 {
    font-family: "Koulen", sans-serif;
    font-size: 65px;
    position: absolute;
    left: 640px;
    top: 500px;
    animation: textShadow_kf 1.3s ease-in-out infinite alternate;
  }
}
